.Rproj.user
.Rhistory
.DS_Store
*.Rproj
vignettes/.RDataTmp
docs
inst/extdata/SixE_etal/intSites.mergedSamples.collapsed.csv.gz
inst/extdata/ElderA_etal/
inst/extdata/ClarkeEL_etal/
inst/extdata/EspinozaDA_etal/
