#sidebar h2{
    background: url("monkey.png");
    background-size: 65%;
    background-position: center top;
    background-color:#9bd1e0;
    padding-bottom:0.809em;
    display:flex;
    font-size: 28px;
    text-align: left top;
    margin-bottom:0.809em;
    padding:0.809em;
    padding-top: 200px !important;
    background-repeat: no-repeat;
    margin-top: 0px;
    z-index:200;
}


#sidebar {
    position:fixed;
    top:0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height:100%;
    background:#282525;
    z-index:200;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6,legend{
    color:#fffff;
}

#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #000000;
}

#main .nav-pills > li > a:hover {
  background-color: #000000;
}

#nav-top span.glyphicon {
  color: #000000;
}

#table-of-contents header{
    color:#000000;
}

#table-of-contents h2{
    background-color:#000000;
}

#main a {
    background-image: linear-gradient(180deg,#000000,#000000);
    color:#c7254e;
}

a:hover{
    color:#000000
}

a:visited{
    color:#000000
}

